### Match free form text to master list as well as (manufacturer, brand, product) hiererchy

In [1]:
# build preliminary function to enter free form text to match(try entering vogue)
free_form = input("Enter free form text: ") 
brands = ['alain mikli', 'armani exchange', 'arnette', 'bolon', 'brooks brothers','burberry', 'bvlgari', 'chanel', 'coach', 'costa','dolce gabbana', 'empirio armani', 'ferrari', 'foster grant', 'georgio armani','luxottica', 'michael kors', 'miu miu', 'molsion', 'oakley','oliver peoples', 'persol', 'polo ralph lauren', 'prada', 'ralph lauren','ray-ban', 'stereoflex', 'starck', 'tiffany', 'tory borch','valentino','versace','vogue']
for brand in brands:
    if free_form in brand:
        print(free_form)

Enter free form text: vogue
vogue

In [2]:
# Create nested dictionary to match on hierarchy: manufacturers = {'manufacturer':{'brand':['product']}}
word = input("Enter free form text: ")
manufacturers = {'luxottica': {'vogue':['VO5316']}}
for manufacturer in manufacturers:
    if word in manufacturer:
        manufacturer = word
print(manufacturer)

Enter free form text: vogue
luxottica

### Use fuzzy string matching to handle data entry inaccuracies and improve data quality

In [3]:
# use fuzzy wuzzy package to handle data inaccuracies within PMS
from fuzzywuzzy import fuzz 
from fuzzywuzzy import process 
choices = ['vogue', 'valentino', 'versace']
query = 'vog'
process.extract(query, choices)

[('vogue', 90), ('valentino', 33), ('versace', 30)]

In [4]:
# choose the key word match that matchest closest to data innaccuracy
process.extractOne(query, choices)

('vogue', 90)

In [5]:
# create function to get matches using fuzzywuzzy package
# def get_matches(query,choices, limit = 3):
    # results = process.extract(query, choices, limit = limit)
    # return results
# get_matches[query, choices]

### Map Free Form Text add ons to Brand list from Luxottica Manufacturer utilizing data frame

In [6]:
# create a list containing some common add-ons
add_ons = ['polycarbonate','high-index', 'anti-reflective','polarized', 'transitions', 'blue-light protection']

# now map to 33 brands under Luxottica manufacturer
brands = ['alain mikli', 'armani exchange', 'arnette', 'bolon', 'brooks brothers','burberry', 'bvlgari', 'chanel', 'coach', 'costa','dolce gabbana', 'empirio armani', 'ferrari', 'foster grant', 'georgio armani','luxottica', 'michael kors', 'miu miu', 'molsion', 'oakley','oliver peoples', 'persol', 'polo ralph lauren', 'prada', 'ralph lauren','rayban', 'stereoflex', 'starck', 'tiffany', 'tory borch','valentino','versace','vogue','alain','mikli','armani','exchange','brooks','brothers','dolce','gabbana','empirio','foster','grant','georgio','michael','kors','miu','oliver','polo','ralph','lauren','tory','burch']

# Create an empty list
keywords_list = []

# Loop through brands
for brand in brands:
    # Loop through addons
    for add_on in add_ons:
        # Append combinations
        keywords_list.append([brand , brand + ' ' + add_on])
        keywords_list.append([brand , add_on + ' ' + brand])
        
# Inspect keyword list
from pprint import pprint
pprint(keywords_list[:5])

[['alain mikli', 'alain mikli polycarbonate'],
 ['alain mikli', 'polycarbonate alain mikli'],
 ['alain mikli', 'alain mikli high-index'],
 ['alain mikli', 'high-index alain mikli'],
 ['alain mikli', 'alain mikli anti-reflective']]

In [7]:
# convert list of lists into a dataframe
import pandas as pd

# Create a DataFrame from list
keywords_df = pd.DataFrame.from_records(keywords_list)

# Print the keywords DataFrame to explore it
keywords_df.head()

             0                            1
0  alain mikli    alain mikli polycarbonate
1  alain mikli    polycarbonate alain mikli
2  alain mikli       alain mikli high-index
3  alain mikli       high-index alain mikli
4  alain mikli  alain mikli anti-reflective

In [8]:
# Create column names for DataFrame
keywords_df = keywords_df.rename(columns={0: 'Brands', 1: 'Keyword_Mapping'})
# Add a manufacturer name column
keywords_df['Manufacturer_Name']='Luxottica' 
keywords_df.head()

        Brands              Keyword_Mapping Manufacturer_Name
0  alain mikli    alain mikli polycarbonate         Luxottica
1  alain mikli    polycarbonate alain mikli         Luxottica
2  alain mikli       alain mikli high-index         Luxottica
3  alain mikli       high-index alain mikli         Luxottica
4  alain mikli  alain mikli anti-reflective         Luxottica

### Use NLTK to clean data from Luxottica website and loof for trends that can be used for marketing purposes

In [9]:
# use string of text from Luxottica website
import pandas as pd
#import text pre-processing packages
import nltk
import nltk.corpus
import re
import string
from nltk.corpus import stopwords
import nltk as nlp

text = 'Ray-Ban, one of the world’s leading lifestyle eyewear brands, and Oakley, a leader in the sport and performance category, serve as a strong base for our proprietary brand portfolio, complemented by Persol, Oliver Peoples and Alain Mikli at the high-end of the market, Costa del Mar and Arnette in the sport market, and Vogue Eyewear, Bolon, Molsion and Ossé in the affordable lifestyle market. The portfolio is rounded out by non-prescription reading glasses, including the brand Foster Grant'
tex = 'Ray-Ban, one of the world’s leading lifestyle eyewear brands, and Oakley, a leader in the sport and performance category, serve as a strong base for our proprietary brand portfolio, complemented by Persol, Oliver Peoples and Alain Mikli at the high-end of the market, Costa del Mar and Arnette in the sport market, and Vogue Eyewear, Bolon, Molsion and Ossé in the affordable lifestyle market. The portfolio is rounded out by non-prescription reading glasses, including the brand Foster Grant'

In [10]:
# Make function to lowercase text, remove punctuation, remove whitespace and remove words containing numbers
def clean_text(text):
    text = text.lower()
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    text = text.strip()
    return text

clean = lambda x: clean_text(x)

In [11]:
# convert string into list and then list into dataframe 
List_of_Words = tex.split()
print(f'List of Words ={tex.split()}')
df = pd.DataFrame(List_of_Words,columns =['Names']) 
df.head()

List of Words =['Ray-Ban,', 'one', 'of', 'the', 'world’s', 'leading', 'lifestyle', 'eyewear', 'brands,', 'and', 'Oakley,', 'a', 'leader', 'in', 'the', 'sport', 'and', 'performance', 'category,', 'serve', 'as', 'a', 'strong', 'base', 'for', 'our', 'proprietary', 'brand', 'portfolio,', 'complemented', 'by', 'Persol,', 'Oliver', 'Peoples', 'and', 'Alain', 'Mikli', 'at', 'the', 'high-end', 'of', 'the', 'market,', 'Costa', 'del', 'Mar', 'and', 'Arnette', 'in', 'the', 'sport', 'market,', 'and', 'Vogue', 'Eyewear,', 'Bolon,', 'Molsion', 'and', 'Ossé', 'in', 'the', 'affordable', 'lifestyle', 'market.', 'The', 'portfolio', 'is', 'rounded', 'out', 'by', 'non-prescription', 'reading', 'glasses,', 'including', 'the', 'brand', 'Foster', 'Grant']

      Names
0  Ray-Ban,
1       one
2        of
3       the
4   world’s

In [12]:
# apply function and view
from nltk.tokenize import word_tokenize
updated_text = pd.DataFrame(df.Names.apply(clean))
updated_text.head()

     Names
0   rayban
1      one
2       of
3      the
4  world’s

In [13]:
# still need to remove stop words and lemmatize to further clean
from nltk.tokenize import word_tokenize
text1 = updated_text['Names'].tolist()
text2 = str(text1)
stop_words = set(stopwords.words('english'))
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
def cleaner_text(text2):
    text2 = word_tokenize(text2)
    text2 = [i for i in text2 if not i in stop_words]
    text2 = " ".join([lemmatizer.lemmatize(t) for t in text2])
    return text2

clean2 = lambda x: cleaner_text(x)
# Let's take a look at the updated text2
updated = pd.DataFrame(updated_text.Names.apply(clean2))
updated.head()

     Names
0   rayban
1      one
2
3
4  world ’

In [14]:
# remove stop words from data frame and lemmatize
i = updated[updated.Names == ''].index
updated.drop(i, inplace = True)
updated.reset_index(drop=True, inplace = True)
updated.head()

       Names
0     rayban
1        one
2    world ’
3    leading
4  lifestyle

In [15]:
# merge both datasets in order to look for trends
updated_new = updated.merge(keywords_df,how='left', left_on='Names', right_on='Brands')
updated_new.head()

    Names  Brands         Keyword_Mapping Manufacturer_Name
0  rayban  rayban    rayban polycarbonate         Luxottica
1  rayban  rayban    polycarbonate rayban         Luxottica
2  rayban  rayban       rayban high-index         Luxottica
3  rayban  rayban       high-index rayban         Luxottica
4  rayban  rayban  rayban anti-reflective         Luxottica

In [18]:
# View a summary of matches to get count of brands most seen on website marketing
summary = updated_new.groupby(['Brands'])['Names'].count()
print(summary)

Brands
alain      12
arnette    12
bolon      12
costa      12
foster     12
grant      12
mikli      12
molsion    12
oakley     12
oliver     12
persol     12
rayban     12
vogue      12
Name: Names, dtype: int64

### This shows that Rayban, Alain Mikli, Arnette, Bolon, Costa, Foster Grant, Molsion, Oakley, Oliver Peoples, Persol and Vogue are seen most in website marketing.